@page "{id:int?}/{date:datetime?}"
@model LegacyModel
@{
    ViewData["Title"] = "Legacy Page";
}
<h1>@ViewData["Title"] @RouteData.Values["id"] @RouteData.Values["date"]</h1>

<p>
    Ut a augue turpis. Aenean sollicitudin malesuada elit at blandit. Pellentesque sed ex pretium, dignissim felis nec, tristique mauris. Nam porta faucibus tellus a tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla vitae semper est. Etiam tristique justo mi, eu laoreet ante euismod vel. Vestibulum dictum justo et scelerisque molestie. Ut accumsan, orci sed ultrices aliquam, sapien justo eleifend elit, nec malesuada felis metus sit amet nisl. Vivamus interdum lacus vitae porttitor scelerisque. Curabitur eu consectetur felis, vitae accumsan erat. Curabitur sollicitudin ultricies sollicitudin. Pellentesque convallis magna a eros ultrices, id vulputate ligula facilisis. Duis ut erat id nisl rutrum sagittis eu quis turpis. Duis dui sapien, rutrum in ante a, imperdiet posuere libero.
</p>
<p>
    Morbi ut volutpat enim. Donec iaculis justo erat, ac vulputate ante ultricies ac. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas pellentesque massa at sodales imperdiet. Nulla facilisi. Vestibulum purus lorem, volutpat eu tincidunt non, aliquet ac turpis. Vestibulum tortor urna, consectetur consectetur blandit eget, lobortis id justo. Pellentesque mattis iaculis sem vitae efficitur. Maecenas nec facilisis sapien, sit amet ullamcorper orci. Sed in nisl non lacus tincidunt ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultrices malesuada ante, in imperdiet sem rhoncus ut. Pellentesque lorem est, congue id est at, lacinia molestie ligula. Aenean sem est, vulputate quis urna ut, facilisis lacinia mauris. Integer eget aliquet massa.
</p>
<p>
    Suspendisse luctus odio eu volutpat consectetur. In molestie mollis condimentum. Nullam consequat convallis nisi sit amet euismod. Integer vel varius turpis. Praesent eget lectus purus. Curabitur eu est magna. Sed tempus mollis lacinia. Nunc placerat iaculis tincidunt.
</p>
<p>
    In cursus nisl ex, nec pulvinar nunc posuere at. Etiam interdum lectus vel lectus luctus, nec commodo odio maximus. Quisque urna urna, convallis in sodales quis, euismod nec arcu. Proin cursus ut odio nec porta. Vestibulum finibus dolor id neque rhoncus dignissim. Suspendisse vulputate enim sem, at tristique ligula pellentesque ut. Praesent malesuada in dui vitae posuere. In tincidunt metus vitae eros molestie, quis ullamcorper diam commodo.
</p>
<p>
    Nulla mollis velit quis sem rutrum fermentum eu sed nibh. Aliquam pharetra iaculis ultrices. Etiam lacus mauris, porttitor vitae rhoncus et, tincidunt a quam. Phasellus sed ultricies eros. Pellentesque tempor lobortis massa, vel blandit mi. Praesent ac metus ex. In id vulputate risus. Aliquam sit amet mattis tellus. Phasellus non orci est.
</p>
<p>
    Quisque aliquet fermentum porta. Donec ullamcorper aliquet sapien, a molestie justo semper eget. Etiam convallis scelerisque risus vitae feugiat. Fusce sollicitudin molestie nisi et cursus. Vestibulum vitae cursus nunc. Nam quis libero risus. Nam quis libero arcu. Aliquam a lacus eget arcu lacinia tempor. Nullam aliquet vehicula arcu, id pretium lorem fringilla vitae. Vivamus volutpat hendrerit porta.
</p>
<p>
    Nulla facilisi. Donec lobortis leo vitae ligula vehicula, ut imperdiet urna dictum. Pellentesque accumsan, urna convallis mollis vulputate, ligula ex rhoncus mi, eget finibus purus risus pretium odio. Donec et est pellentesque, aliquam quam et, vehicula mi. Nullam mi odio, dignissim et lorem nec, malesuada mollis tellus. Nullam eget mollis orci. Quisque sapien sem, hendrerit sit amet velit nec, posuere imperdiet mi. Morbi interdum purus eget ante ultrices, sed ullamcorper diam finibus. Maecenas et faucibus ante. Sed viverra mi ut purus congue, nec ultrices risus tincidunt. Mauris eu aliquet eros.
</p>
<p>
    Etiam lobortis at ligula in accumsan. Nullam rutrum, dolor sed fringilla interdum, diam enim maximus metus, et efficitur ante tortor sed ante. Integer dignissim elit vel felis suscipit aliquam. Ut elementum fermentum erat a posuere. Nunc elit orci, convallis id congue vitae, pharetra a lectus. Fusce a scelerisque justo. Sed eget urna volutpat, ullamcorper eros ac, consequat eros. Quisque velit enim, dapibus a dui sed, viverra sodales libero. Quisque sodales fringilla nisi consequat rutrum.
</p>
<p>
    Nunc porttitor felis turpis, et elementum ligula porttitor id. Nam pellentesque finibus auctor. Suspendisse efficitur, metus ullamcorper efficitur egestas, turpis nulla posuere ligula, ac rutrum purus dui sed libero. Nunc maximus vitae enim sit amet blandit. Duis eu mollis enim. In hac habitasse platea dictumst. Cras eu fermentum massa. Donec dolor massa, blandit eu convallis eget, condimentum et tellus. Vivamus at turpis enim. Quisque ultricies nulla ut turpis condimentum dignissim. Nunc nec velit eu magna cursus feugiat et in nisi.
</p>
<p>
    Maecenas quis neque quis tellus posuere bibendum. Aliquam imperdiet eleifend neque sit amet interdum. Mauris porttitor sem ut lorem posuere ultrices. Fusce dolor libero, dignissim quis tempor quis, rutrum in metus. Quisque rhoncus quam dui, et luctus sem vehicula porta. Quisque ultrices fringilla augue, non dapibus sapien consequat sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id vehicula felis, ac facilisis felis. Aenean eleifend leo leo, sit amet tincidunt nulla pulvinar porttitor. Nulla aliquam pretium lacus at laoreet. Quisque ac purus dolor. Duis elit augue, bibendum non elementum sit amet, sagittis ac turpis. Cras a commodo lectus. Sed sit amet dui ultricies, ullamcorper mauris non, vulputate dui. Ut tristique, neque eget consectetur interdum, nibh ipsum aliquam ligula, ullamcorper ornare mi tellus malesuada enim.
</p>
<p>
    Maecenas aliquet eu augue sed scelerisque. Duis id est imperdiet, congue risus in, lacinia purus. Pellentesque lacinia dui sed leo facilisis facilisis. Ut feugiat urna quis bibendum imperdiet. Sed dictum ipsum in sagittis sollicitudin. Sed interdum justo ipsum. Vivamus ac fermentum dui.
</p>
<p>
    Nunc volutpat elementum cursus. Nunc volutpat posuere massa vel semper. Suspendisse faucibus nec ipsum vitae sodales. In condimentum porttitor tellus, vel tristique nibh vestibulum a. Quisque enim ex, ullamcorper et viverra sed, sodales ut eros. Praesent eget hendrerit justo. Nullam aliquam arcu molestie arcu pharetra, eu tempus tortor imperdiet. Nullam tincidunt nisi vel molestie efficitur. Nam fringilla placerat enim, sed scelerisque nisl volutpat at. Phasellus sed lectus sed erat elementum cursus at ac est. Nulla varius tortor quis convallis vulputate. Proin ac eros at nunc aliquam viverra ut et mauris. Nulla elementum eleifend velit vel iaculis. In pellentesque mauris massa, eget elementum mi commodo vitae.
</p>
<p>
    Integer metus elit, euismod quis facilisis id, ornare eu lectus. Sed justo eros, maximus eget vestibulum pellentesque, interdum eu ex. Curabitur erat nunc, tincidunt at orci ut, elementum cursus erat. Duis elementum tincidunt lectus, ac blandit leo semper id. Pellentesque faucibus vel est sit amet vulputate. Sed vulputate aliquet gravida. Morbi nec velit vitae mi sollicitudin volutpat. Nullam eleifend quis justo nec vehicula. Duis ullamcorper turpis quis ornare convallis. Nunc mollis lorem orci, vitae rutrum eros dapibus eu.
</p>
<p>
    Cras rutrum viverra congue. Donec at pharetra ante, sed placerat dui. Morbi a luctus dolor. In non lacinia risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec porttitor faucibus mauris vel posuere. Morbi sit amet mi ut nunc viverra pulvinar. Praesent sed ullamcorper lacus. Maecenas tempor sapien at mauris bibendum, non tincidunt lacus laoreet. Vestibulum in ligula et leo lobortis euismod. Quisque nec magna in mi porta facilisis non vitae ex. Curabitur id nisl id nunc interdum fringilla. Aliquam interdum, felis at scelerisque placerat, diam lectus mattis ipsum, id tempus dui ligula quis ipsum. Nunc aliquet tempus semper. Maecenas eget accumsan nunc. Nulla ut enim non lectus efficitur fringilla sed non nisl.
</p>
<p>
    Aliquam sed dui cursus, dignissim ante nec, venenatis purus. Phasellus porta libero a dui ullamcorper dapibus eu vitae leo. Donec ipsum ex, varius nec ex et, venenatis rhoncus tellus. Ut malesuada interdum mollis. Donec maximus mi vitae dui euismod suscipit. Etiam consectetur semper sollicitudin. Aenean erat dui, sagittis at hendrerit in, egestas ac dui. In tempus elit risus, vestibulum tincidunt tellus fermentum vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas consequat et orci ac egestas. Suspendisse potenti. Suspendisse facilisis pretium ante a commodo.
</p>
<p>
    Sed eget euismod nisl. Aenean ut risus ornare ante bibendum feugiat. Suspendisse id ornare erat, eget suscipit ex. Donec posuere felis odio, non pulvinar est porttitor eu. Sed sapien neque, venenatis eu leo vestibulum, tempor faucibus sem. Sed et mi sagittis, dignissim orci in, ornare dui. Fusce auctor varius elit, eu dictum tortor. Quisque eleifend eros tellus, a scelerisque nulla laoreet et. Proin consequat mollis augue nec euismod.
</p>
<p>
    Duis at ex enim. Donec ultricies orci at ex imperdiet bibendum. Fusce mattis rhoncus ante vitae vehicula. Duis vehicula maximus nisl at auctor. Ut condimentum et erat non rutrum. Etiam lacinia semper feugiat. Ut ac lectus vel massa pharetra pretium. Sed accumsan luctus urna a commodo. Donec malesuada rhoncus ante, ut blandit risus auctor ut. Vestibulum fringilla placerat lacus vitae ultricies. Vivamus ultrices et elit sed interdum. Aliquam vestibulum nibh suscipit dui molestie, vitae accumsan ante pulvinar. Phasellus interdum justo quis ipsum dignissim, non iaculis quam sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<p>
    Pellentesque consectetur purus a tellus bibendum pharetra. Integer eu risus at enim pulvinar laoreet. Mauris neque quam, posuere sed nibh elementum, sagittis vestibulum ligula. Cras ornare nulla et felis sollicitudin mollis. Aenean ipsum nulla, dictum id aliquam id, bibendum id nulla. Nulla facilisi. Donec ultricies, tortor consectetur sodales feugiat, libero mi molestie augue, dictum dapibus arcu nunc sodales quam. Suspendisse tempus lorem orci, sit amet suscipit magna feugiat quis. Sed nec ante ex. Sed non sagittis nibh. Duis tristique pharetra nunc, sed eleifend diam vulputate id. Donec vitae enim nec augue luctus tempus.
</p>
<p>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec a arcu vel nisl vulputate fermentum. Suspendisse eu massa interdum, hendrerit metus ac, mollis orci. Quisque nunc nibh, efficitur et volutpat eu, auctor at ex. Aenean maximus id nisl non laoreet. Fusce ut est ut lectus malesuada ultricies ut at libero. Nullam in orci aliquet, vulputate nibh id, aliquam nunc. Morbi erat mi, faucibus sit amet laoreet eget, viverra et nisi. Duis sed nisi sed ex commodo sollicitudin vel non mi. Nulla vitae commodo velit. Proin non sapien commodo, posuere dolor et, feugiat nisl. Praesent ornare mauris eget sapien suscipit pharetra. Donec id laoreet ex. Praesent ligula massa, imperdiet non viverra eget, vestibulum sed elit.
</p>
<p>
    Pellentesque id tincidunt nibh. Sed bibendum ex vel libero pretium, quis mollis orci blandit. Nullam placerat convallis tellus. Proin orci dolor, lobortis id aliquet sed, fermentum quis sapien. Aliquam egestas enim sit amet lacus varius tincidunt. Maecenas eget accumsan elit. Aenean venenatis urna a justo egestas ultrices. In hac habitasse platea dictumst. In et quam id ex auctor sagittis non eget odio. Maecenas non urna dolor. Maecenas porttitor vehicula consectetur.
</p>
<p>
    Morbi eleifend nisi ligula, in pellentesque sapien euismod vel. Fusce eu pulvinar eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Sed cursus vitae turpis nec egestas. Morbi diam massa, volutpat a erat quis, tristique posuere mi. Mauris erat nulla, faucibus et libero in, elementum finibus diam. Fusce tincidunt semper tortor, at sagittis nibh laoreet non. Vestibulum nisl lacus, blandit in ligula id, auctor accumsan nibh. Aliquam tincidunt mauris ut augue fermentum scelerisque. Vivamus ultricies, erat vel porta dapibus, sem mi consectetur libero, non ullamcorper erat ligula et augue. Maecenas sit amet tempus dolor. Vivamus quis metus sit amet sem venenatis iaculis.
</p>
<p>
    Duis eget nisl vitae ligula bibendum congue. Vestibulum dapibus sollicitudin mi in tincidunt. Maecenas placerat sapien et ex dapibus sagittis. Aenean aliquet velit in dui tristique, sed tincidunt urna semper. Mauris mauris augue, dapibus a lacus eu, efficitur hendrerit turpis. Vivamus eget eros nibh. Etiam et commodo arcu, sit amet vulputate ipsum. Morbi interdum tellus tortor, eu ullamcorper mi auctor vel. Suspendisse interdum, dui sit amet volutpat consequat, dolor leo congue leo, at efficitur leo magna quis elit. Vestibulum luctus tincidunt dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec tortor urna. In in sollicitudin velit.
</p>
<p>
    In ornare pharetra viverra. Phasellus gravida elementum lorem, in dictum erat accumsan et. Vivamus non pellentesque elit, et efficitur magna. Ut tincidunt ligula sit amet arcu vehicula, tincidunt molestie urna pellentesque. Fusce pharetra congue sem et consequat. Morbi id quam odio. Fusce tincidunt nisl et feugiat porttitor. Suspendisse placerat urna eget lobortis vehicula. Mauris et efficitur quam, sit amet fermentum enim. Aliquam nec laoreet sem. Donec ac neque risus. Sed dui nulla, tempor quis fermentum ut, imperdiet at felis. Ut tincidunt velit volutpat ornare feugiat. Donec id eros eu mi viverra rutrum. Donec vulputate erat eu est cursus feugiat.
</p>
<p>
    Praesent tincidunt elit ultrices ipsum pharetra, at tincidunt quam molestie. Etiam non bibendum massa, at malesuada ex. Duis finibus nibh non pulvinar malesuada. Curabitur libero risus, lobortis at lectus posuere, tempor molestie risus. Phasellus varius nisi eget mauris sagittis, at sagittis sem sagittis. Aliquam dapibus auctor purus eu ullamcorper. Phasellus vitae ante eu mauris posuere placerat ac eu nisl. Donec bibendum ligula a arcu bibendum egestas. Ut fringilla enim vel dui pulvinar scelerisque.
</p>
<p>
    Phasellus at nisl non risus sagittis iaculis quis id nulla. Phasellus luctus mi sed tellus vehicula, in aliquet enim fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec cursus nulla nec ultricies accumsan. Pellentesque nec accumsan ante. Mauris ante metus, efficitur a arcu ut, vulputate varius odio. Suspendisse posuere tortor turpis, eget laoreet lectus feugiat nec. Integer eget est vel massa convallis feugiat eu ac orci. Donec bibendum ullamcorper purus sed porta. Mauris eu molestie quam. In ac gravida arcu. Donec eget nulla risus.
</p>
<p>
    Morbi ullamcorper lorem ut turpis tristique blandit. Mauris tristique purus a blandit ultrices. Aenean malesuada lectus a eleifend convallis. Cras tempus tortor pretium porta maximus. Nulla eget dolor velit. Quisque vel massa quis sem placerat sodales nec id ex. Vestibulum eu sapien diam. Sed sagittis mollis justo, eu congue arcu condimentum eu. Donec sem odio, molestie ut mattis quis, auctor eget turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec a augue et urna aliquam porttitor. Mauris venenatis massa lorem, a eleifend augue rutrum at. Proin egestas porta blandit.
</p>