<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img src="~/images/microsoft-net-logo.png" alt="site-logo" class="navbar-logo"/>RazorPages Demo
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/List">Order Pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Legacy">Legacy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>